{% extends 'base.html' %}
{% block content %}

<div class='container' >
	<h3>Полезные ссылки</h3>
    <ul class="nav flex-column" >
        <li class="nav-item">
            <a class="nav-link" href="http://powerbranding.ru/marketing-strategy/smart-celi/" target="_blank" style="color: #ff6b00">Цели по SMART: подробный обзор</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://goal-life.com/page/goals/postanovka-celey-po-metodu-smart" target="_blank" style="color: #ff6b00">Постановка целей по SMART</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://worktek.ru/blog/30114-Postanovka-celey-po-SMART-poshagovaya-instrukciya-s-primerami" target="_blank" style="color: #ff6b00">Постановка целей по SMART — пошаговая инструкция с примерами</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://business.tutsplus.com/ru/articles/set-your-personal-goals-in-life-work--cms-31501" target="_blank" style="color: #ff6b00">Как Ставить (и Достигать) Личные Цели в Жизни и на Работе</a>
        </li>
    </ul>

    <h3>Партнеры</h3>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="https://smartprogress.do/?lang=ru" target="_blank" style="color: #ff6b00">SmartProgress - Достижение цели</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://mygoal.one/ru/" target="_blank" style="color: #ff6b00">Сервис достижения целей и мотивации «Моя цель»</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://habitica.com/" target="_blank" style="color: #ff6b00">Habitica - Gamify Your Life</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://mymegaplans.ru/" target="_blank" style="color: #ff6b00">Mymegaplans - Достижение цели</a>
        </li>
    </ul>

</div>

{% endblock %}